Пользовательские требования

1. Не снимать гриппер робота в момент калибровки
2. Не беспокоиться о возможности въехать роботом в оборудование
3. Возможность раздельной калибровки компонент
4. Использовать робота как калибровочное устройство
5. Возможность добавлять новое оборудование в систему калибровки

Системные требования

1. Использовать контактный метод калибровки
2. Использовать тулл для калибровки с ручкой идентичной ручке стандартного холдера
3. Варианты контактного инструмента
    1. Доработанный холдер с цилиндрическим металлическим носиком (подразумевает электрический контактный метод)
    2. Калибровочная головка как в CNC станках
4. Варианты получения данных от инструмента
    1. Беспроводной приемник
    2. Проводное подключение
5. Калибровка всех точек юнита
6. Отдельная калибровка компонент
7. Возможность добавить новое оборудование
8. Калибровка каждого холдера
9. Стандартные алгоритмы калибровка
    1. Калибровка центра окружности
    2. Калибровка начала системы координаты
    3. Калибровка инструмента по цилиндру
10. Возможность изменения порядка калибровки
11. Начальные и конечные точки траекторий храниться как отдельные сущности
12. При конфигурации порядка калибровки переезды генерируются относительно препятствий
13. В системе проставлены все препятствия
14. Наличие системы объезда препятствий


Функциональные требования

1. Полный цикл калибровки
    1. Робот проверяет свою текущую позицию и если не в Save позиции сообщает об этом
    2. Робот начинает калибровку с места выдачи и продвигается дальше (диспенсоры, лед, кофемашина, профонди, темпер, гриндер)
    3. Все полученные данные сохраняются в файл
    4. Все координаты относительно базы робота
1. Добавление нового оборудования
    Добавление оборудования на основе

Нефункциональные требования

Требования к продукту

Требования к интеграции

Требование к пользовательскому интерфейсу


Файлы данных:
1. Каждая траектория подъезда храниться в отдельном файле
    Известна начальная и конечная позы, записаны как отдельные сущности
2. Во время движения в файл записывается позиции робота с переодичностью 1с
    Это необходимо для возможности отъезда назад.


Состояния системы калибровки
    1. Калибровка
    2. Ожидание команды
    3. Подъезд к месту калибровки
    4. Возвращение домой


Класс: "оборудование"
Поля класса: лист с траекторией к началу детектирования
             метод детектирования (начало координат или окружность)
             метод записи информации
             метод калибровки зед
             метод запуска калибровки
             метод проверки текущей траектории
             флаг состояния калибровки: полная или частичная


             
